.top_nav
{
    background: #d3d3d3;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 5%;
    z-index: 1;
}
.bottom_nav
{
    background: #d3d3d3;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}

.cell_image
{
    width: 18%;
    height: 20%;
    z-index: 2;
    position: fixed;
    padding-top: 0px ;
}
.box_image
{
    width: 60%;
    height: 40%;
    margin-left: 22%;
    margin-bottom:25%;
}

.oval
{
    width: 50%;
    height: 60%;
}

.top_text
{
  width: 100%;
  height: 100%;
  font-family: Sura;
  font-size: 200%;
  font-weight: 800;
  text-align: center;
  color: black;
  padding-top: 12px;
}
.bottom_text{
   width: 100%;
  height: 100%;
  font-family: Sura;
  font-size: 80%;
  font-weight: 800;
  text-align: center;
  color: black;
}

.bottom_image
{
    width: 100%;
    height: 100%;
    vertical-align:middle;


}

.login_button {
  width: 50%;
  height: 100%;
  -webkit-text-stroke: solid 3px #808080
  text-shadow: inset 10px 10px 4px rgba(100,100,100,0.5);
  color: #686868;
  font-family: Sura;
  font-size: 20px;
  font-weight: 50;
  line-height: 20%;
  text-align: center;
  margin-left: 40%;
}

.sifremi_unuttum_button {
  width: 100%;
  height: 100%;
  -webkit-text-stroke: solid 3px #808080
  text-shadow: inset 10px 10px 4px rgba(100,100,100,0.5);
  color: #686868;
  font-family: Sura;
  font-size: 20px;
  font-weight: 50;
  line-height: 20%;
  text-align: center;
}

.phone_num{
  width: 10%;
  height: 10%;
  color: #a29f9f;
  font-family: Sura;
  font-size: 10%px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-right: 10%;
}

.sifreniz{
  width: 10%;
  height: 10%;
  color: #a29f9f;
  font-family: Sura;
  font-size: 10%px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-right: 10%;
}

.hello_text {
  color: rgba(255,255,255,0.5);
  font-family: Sura;
  font-size: 350%;
  font-weight: 700;
  text-align: center;
  margin-top: 30%;
}
.below_hello_text
{
  color: rgba(255,255,255,0.5);
  font-family: Sura;
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  margin-top: 10%;
}
.my_table
{
  margin-left: 15%;
  margin-right: 15%;
  top: 2%;
  border-style: solid;
  border-width: 1px;
  color: #ddd;
  height: 500px;
}
.login_form
{
  margin-left: 5%;
  margin-top: 15%;
}
.register_form
{
  margin-left: 5%;
  margin-top: 3%;
}
.input_border
{
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}
.kayitli_degil
{
  width: 100%;
  height: 20%;
  color: #a29f9f;
  font-family: Sura;
  font-size: 80%;
  font-weight: 30;
  text-align: center;
}
.new_profile_button
{
  width: 20%;
  height: 30%;
  -webkit-text-stroke: solid 3px #808080
  text-shadow: inset 10px 10px 4px rgba(100,100,100,0.5);
  color: #686868;
  font-family: Sura;
  font-size: 10px;
  font-weight: 50;
  line-height: 100%;
  margin-left: 40%;
}

.forgot_password_text
{
    width: 10%;
  height: 10%;
  color: #a29f9f;
  font-family: Sura;
  font-size: 10%px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-right: 10%;
}

.register_text
{
    width: 40%;
  height: 10%;
  color: #a29f9f;
  font-family: Sura;
  font-size: 10%px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-right: 10%;
}

.create_user_button
{
    width: 20%;
  height: 50%;
  -webkit-text-stroke: solid 3px #808080
  text-shadow: inset 10px 10px 4px rgba(100,100,100,0.5);
  color: #686868;
  font-family: Sura;
  font-size: 20px;
  font-weight: 50;
  line-height: 100%;
  margin-left: 40%;
}
.save_new_password_button
{
width: 20%;
  height: 50%;
  -webkit-text-stroke: solid 3px #808080
  text-shadow: inset 10px 10px 4px rgba(100,100,100,0.5);
  color: #686868;
  font-family: Sura;
  font-size: 20px;
  font-weight: 50;
  line-height: 100%;
  margin-left: 40%;}