{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'i2iCellApp/main.css' %}">
    <title>i2iCell</title>



</head>
<body>

<div class="container-fluid" style="position: fixed; height: 100%">
    <div class="row">
        <div class="col-md-4" style="background-color:#3fabe3">
            <img class="cell_image" src="{% static 'i2iCellApp/images/cell_image.png' %}">
            <div>
                <h1 class="hello_text">
                     Hello,
                </h1 >

                <h4 class="below_hello_text">
                    We Do
                </h4>
                <h4 class="below_hello_text">
                    Communication
                </h4>
            </div>
            <img class="box_image" src="{% static 'i2iCellApp/images/box_image.png' %}" >
            <div class="top_nav">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">

                            <div class="col-sm-4" style="text-align: right">

                            </div>
                            <div class="col-sm-6">

                                <div onclick="location.href='{% url 'login' %}'" class="top_text"> i2iCell</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row" >
                            <p class="col-sm-2">
                                <a href="{% url 'homepage' %}" class="top_text"> Anasayfa </a>
                            </p>
                            <p class="col-sm-2">
                                <a href="http://localhost:8000/getBalances" class="top_text"> Paketler </a>
                            </p>
                            <p class="col-sm-3">
                                <a href="http://localhost:8000/homepage" class="top_text"> Hakkımızda </a>
                            </p>
                            <p class="col-sm-2">
                                <a href="http://localhost:8000/login" class="top_text"> Giris </a>
                            </p>
                            <div class="col-sm-3">
                                <img href="http://localhost:8000/homepage" class="oval"
                                     src="{% static 'i2iCellApp/images/oval.png' %}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
            </div>


            <div class="bottom_nav">
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-1">
                                <img class="bottom_image" src="{% static 'i2iCellApp/images/twitter_image.png' %}">
                            </div>
                            <div class="col-sm-2">
                                <div class="bottom_text"> Bizi Takip Edin
                                    <br> @i2icell
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <img class="bottom_image" src="{% static 'i2iCellApp/images/technical_image.png' %}">
                            </div>
                            <div class="col-sm-2">
                                <div class="bottom_text"> Bizi Arayin
                                    <br> +90 (850) 346 75 76
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <img class="bottom_image" src="{% static 'i2iCellApp/images/message_image.png' %}">
                            </div>
                            <div class="col-sm-2">
                                <div class="bottom_text"> Bize Yazin
                                    <br>Info@
                                    <br>i2i-systems.com
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="margin-top: 10%">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>