{% extends "i2iCellApp/base.html" %}
{% load static %}


{% block content %}
<div class=”container”>
    <div class="my_table">
        <form method="post" class="login_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="forgot_password_text">Tc Kimlik No
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="tc_no" class="input_border" style="width: 40%">
                    </input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="forgot_password_text">Telefon Numaraniz</div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="tel_no" class="input_border" style="width: 40%">
                    </input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="forgot_password_text">Yeni Sifreniz</div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="new_pass" class="input_border" style="width: 40%">
                    </input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="forgot_password_text">Yeni Sifreniz
                    <p style="text-align: center">Tekrar</p></div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="new_pass_again" class="input_border" style="width: 40%">
                    </input>
                </div>
            </div>
            <input type="submit" class="save_new_password_button" value="Kaydet" name="save_button"
                           onclick="location.href='{% url 'homepage' %}'" style="text-align: center;">
        </form>

        <!-- <div name="status" class="customDiv" id="status">Status:</div> -->

        {% if messages %}
        <ul class="messages" style="color:red; text-align:center">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


    </div>

</div>

{% endblock %}
