{% extends "i2iCellApp/base.html" %}
{% load static %}

{% block content %}

<div class="row" style="margin-top: 10%;">
    <div class="col-md-1">

    </div>
    <div class="col-md-1">
        <img class= "balance_images" src="{% static 'i2iCellApp/images/internet_image.png' %}">
    </div>

    <div class="col-md-2">
        <span style="text-align:right;padding-left:30px;">Paketadı</span>
        <div class="example-two">
            <label class = "balance_text">100</label>

            <br/>
            <label class = "balance_sub_text">GB</label>
        </div>
    </div>

    <div class="col-md-1">
        <img class= "balance_images" src="{% static 'i2iCellApp/images/sms_image.png' %}">
    </div>

    <div class="col-md-2">
        <span style="text-align:right;padding-left:30px;">Paketadı</span>
        <div class="example-two">
            <label class = "balance_text">50</label>

            <br/>
            <label class = "balance_sub_text">SMS</label>
        </div>
    </div>

    <div class="col-md-1">
        <img class= "balance_images" src="{% static 'i2iCellApp/images/dk_image.png' %}">
    </div>

    <div class="col-md-2">
        <span style="text-align:right;padding-left:30px;">Paketadı</span>
        <div class="example-two">
            <label class = "balance_text">30</label>

            <br/>
            <label class = "balance_sub_text">DK</label>
        </div>
    </div>
</div>


{% endblock %}